:root {
  --primary: #007bff;
  --secondary: #f1f570;
  --success: #7BF570;
  --warning: #F7A36E;
  --danger: red;
}

:focus-visible {
  outline: 3px solid var(--primary);
  outline-offset: 0.05rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: var(--primary);
  padding: 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  color: white;
}

nav ul li {
  list-style: none;
  cursor: pointer;
}

nav ul li:hover {
  color: #eaff00;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: whitesmoke;
  min-height: 100vh;
}

.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: start;
  padding: 1rem;
  gap: 1rem;
}

.layout > * {
  min-width: 0;
}

aside {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}


aside h3 {
  margin-bottom: 1rem;
}

.filters {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 1.1rem;
}

select,
input {
  border-radius: 8px;
}

#cards {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.card {
  display: block;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;    
  transition:transform 0.4s ease;
}

.card:hover {
  transform:translateY(-4px);
}

table {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 1rem;
  text-align: left;
}

footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media(max-width:767px){
  .layout {
    grid-template-columns: 1fr;
  }
  
  aside {
    width: 260px;
  }

  #cards {
    display: none;
  }
  
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .layout {
    grid-template-columns: 160px 1fr;
  }
  .card {
    font-size: smaller;
  }
}